@tailwind base;
@tailwind components;
@tailwind utilities;

.link-hover {
  transition: all 0.3s ease-in-out;
}

.link-hover:hover {
  text-shadow: 0 0 5px white;
}

.navbar-custom {
  background-color: #003366;
}
